@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC|Open+Sans:400,700);

html, body{
	margin: 0;
	font-family: 'Open Sans', serif;
}

h1 {
	font-family: 'Holtwood One SC', serif;
	font-size: 5em;
}